*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 100%;
  background-color: #fff;
  background-image: linear-gradient(to right, #b6fbff, #83a4d4);
  color: #333;
}

h1, p {
  margin: 0 0 1em 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}

@media screen and (min-width: 500px) {
  .wrapper {
    margin: 0 auto;
    grid-template-columns: 10fr 4fr;
  }
  .header, .footer {
    grid-column: 1 / -1;
  }
}

.wrapper > * {
  background-color: rgb(50, 68, 94, .05);
  color: #333;
  border-radius: 5px;
  border: solid 2px rgb(50, 68, 94, 1);
  padding: 20px;
  font-size: 100%;
}
a {
  color: #333;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #555;
}
dt {
  font-weight: bold;
}
dd {
  margin-inline-start: 0;
  padding-bottom: 10px;
}
table {
  width: 100%;
}
th {
  text-align: left;
}

header.header {
  background-color: rgb(50, 68, 94, 1);
  color: #b3f7fe;
  font-size: 2rem;
}

.error {
  color: #930b0b;
}
