*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 100%;
  background-color: #fff;
  color: #444;
}

h1, p {
  margin: 0 0 1em 0;
}

.wrapper {
  max-width: 940px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}

@media screen and (min-width: 500px) {
  .wrapper {
    margin: 0 auto;
    grid-template-columns: 10fr 4fr;
  }
  .header, .footer {
    grid-column: 1 / -1;
  }
}

.wrapper > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
}
a {
  color: #fff;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #bbb;
}
dt {
  font-weight: bold;
}
dd {
  margin-inline-start: 0;
  padding-bottom: 10px;
}
table {
  width: 100%;
}
th {
  text-align: left;
}
